alias -g C='| xclip -sel clip'
alias -g F='| fzf'
alias -g L='| less +F'
alias -g H='| head'
alias -s {mkv,mp4,webm,mp3}='mpv'
alias -s {pdf,djvu,epub}='zathura'
alias ...='cd ../..'
alias ..='cd ..'
alias NE='2> /dev/null'
alias NUL='> /dev/null 2>&1'
alias _='sudo'
alias b='bat'
alias cp='cp -i'
alias d='dirs -v | head -10'
alias f='fuck'
alias g='git'
alias ga='git add'
alias gap='git add --patch'
alias gb='git branch'
alias gca='git commit --amend --no-edit'
alias gcl='git clone --recurse-submodules'
alias gcm='git commit -m'
alias gco='git checkout'
alias gd='git diff'
alias gf='git fetch'
alias gi='git init -q'
alias glo='git log --oneline --decorate --graph --all'
alias gp='git push'
alias gpf='git push --force-with-lease'
alias gpl='git pull'
alias gr='git reset'
alias grbi='git rebase -i'
alias gst='git status --untracked-files'
alias py='ptipython'
alias jl='jupyter lab'
alias l='ls -lFh'
alias la='ls -lAFh'
alias ll='ls -l'
alias ls='ls --color=tty'
alias md='mkdir -p'
alias mv='mv -i'
alias p='vimpager'
alias pro='export http_proxy=http://127.0.0.1:8080;export https_proxy=http://127.0.0.1:8080;'
alias ra='ranger'
alias cdiff='git diff --word-diff=color --word-diff-regex=.'
alias rm='rm -i'
alias rs='rsync -zz -vhrP'
alias um='udiskie-mount'
alias uum='udiskie-umount -d'
alias v='vim'
alias nv='nvim'
alias ytd='yt-dlp -i --proxy=socks5://127.0.0.1:1080 -f "bestvideo[height<=1080][ext=mp4]+bestaudio[ext=m4a]/best[ext=mp4]/best"'
