alias ...='cd ../..'
alias ..='cd ..'
alias NE='2> /dev/null'
alias NUL='> /dev/null 2>&1'
alias _='sudo'
alias b='bat'
alias cp='cp -i'
alias d='dirs -v | head -10'
alias g='git'
alias g='rg'
alias ga='git add'
alias gb='git branch'
alias gca='git commit --amend --no-edit'
alias gcl='git clone --recurse-submodules'
alias gco='git checkout'
alias gcsm='git commit -m'
alias gd='git diff'
alias gf='git fetch'
alias gi='git init -q'
alias glo='git log --oneline --decorate --graph --all'
alias gp='git push'
alias gpf='git push --force-with-lease'
alias gpl='git pull'
alias gr='git reset'
alias grbi='git rebase -i'
alias gst='git status'
alias h='head'
alias jl='jupyter lab &> /dev/null &'
alias l='ls -lFh'
alias la='ls -lAFh'
alias ll='ls -l'
alias ls='ls --color=tty'
alias md='mkdir -p'
alias mn='vim $HOME/Documents/extra/money.lgr'
alias mv='mv -i'
alias p='vimpager'
alias pro='export http_proxy=http://127.0.0.1:8080;export https_proxy=http://127.0.0.1:8080'
alias ra='ranger'
alias rm='rm -i'
alias rs='rsync -zvhP'
alias t='tail -f'
alias um='udiskie-mount'
alias uum='udiskie-umount -d'
alias v='vim'
alias xc='xclip -sel clip'
alias ytd='youtube-dl -i --proxy=socks5://127.0.0.1:1080 -o "%(id)s.%(ext)s"'
