snippet cu "scrapy custome setting feed export utf8"
custom_settings = {
    "FEED_EXPORT_ENCODING": "utf-8",
}
endsnippet

snippet logger "add info logger"
import logging

logging.basicConfig(format="%(asctime)s:%(lineno)d %(message)s", level=logging.INFO)
endsnippet
